.ac-custom ul{
	list-style: none;
	padding: 0;
	margin: 0 auto;
	max-width: 50%;
	align-items:center;
}
.ac-custom li {
	margin: 0 auto;
	padding: 2em 0;
	width: 50%;
	position: relative;
}

.ac-custom .own__radio input[type="checkbox"],
.ac-custom .own__radio input[type="radio"],
.ac-custom .own__radio label::before {
	width: 50px;
	height: 50px;
	top: 50%;
	left: 0;
	margin-top: -25px;
	position: absolute;
	cursor: pointer;
}

.ac-custom .own__radio input[type="checkbox"],
.ac-custom .own__radio input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
}

.ac-custom .own__radio label::before {
	content: '';
	border: 4px solid #757575;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.ac-radio .own__radio label::before {
	border-radius: 50%;
}

.ac-custom .own__radio input[type="checkbox"]:checked + label::before,
.ac-custom .own__radio input[type="radio"]:checked + label::before {
	opacity: 0.8;
}

/* General SVG and path styles */

.ac-custom .own__radio svg {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	left: 5px;
	pointer-events: none;
}

.ac-custom .own__radio svg path {
	stroke: #757575;
	stroke-width: 13px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

/* Specific input, SVG and path styles */

/* Circle */
.ac-circle .own__radio input[type="checkbox"],
.ac-circle .own__radio input[type="radio"],
.ac-circle .own__radio label::before {
	width: 30px;
	height: 30px;
	margin-top: -15px;
	left: 10px;
	position: absolute;
}

.ac-circle  label::before {
	background-color: #fff;
	border: none;
}

.ac-circle svg {
	width: 70px;
	height: 70px;
	margin-top: -35px;
	left: -10px;
}

.ac-circle svg path {
	stroke-width: 5px;
} 

/* Box Fill */
.ac-boxfill svg path {
	stroke-width: 8px;
} 

/* Swirl */
.ac-swirl svg path {
	stroke-width: 8px;
}

/* List */
.ac-list ol {
	list-style: decimal;
	list-style-position: inside;
}

.ac-list ol li {
	font-size: 2em;
	padding: 1em 1em 0 2em;
	text-indent: -40px;
}

.ac-list ol li label {
	font-size: 1em;
	text-indent: 0;
	padding-left: 30px;
}

.ac-list label::before {
	display: none;
}

.ac-list svg {
	width: 100%;
	height: 80px;
	left: 0;
	top: 1.2em;
	margin-top: 0px;
}

.ac-list svg path {
	stroke-width: 4px;
}
#r2,label[for='r2'],label[for='r2']::before{
	right: 0;
	left: auto !important;
}
.r2 svg{
	right: 5px;
	left: auto !important;
}
.own__radio label{
	font-size: 18px;
	font-weight: 600;
	color: #757575;
	cursor: pointer;
}
/* Media Queries */
@media screen and (max-width: 50em) {
	section {
		font-size: 80%;
	}
}