@media all and (min-width: 767px) {
    .rounded-md-circle {
        border-radius: 50% !important;
    }

    .bg__child {
        background: url("../storage/img/child.jpg") no-repeat;
        background-size: contain;
        background-position: top left;
    }
}

@media all and (min-width: 991px) {
    .vh {
        height: 100vh;

    }

    .font-22 {
        font-size: 22px;
    }

    .discover__service {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

}

@media screen and (min-width: 1024px) {
    .navbar__items > a {
        padding: 5px 25px;
        font-size: 18px;
    }

    .text__part {
        margin-left: -5px;
    }

    .fixed__header .heading__text h1 {
        position: relative;
        font-size: 2rem;
    }

    .fixed__header .logo img {
        width: 70%;
    }

    .text-part-service {
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .img-part img {
        width: 75%;
    }

    .two__lines__horizontal, .two__lines__vertical {
        position: relative;
        display: inline-block;
    }

    .two__lines__horizontal::after {
        position: absolute;
        top: 110%;
        left: 20px;
        width: calc(100% - 20px);
        height: 3px;
        background: #000;
        content: '';
    }

    .two__lines__horizontal::before {
        position: absolute;
        top: 90%;
        left: 30px;
        width: calc(100% - 60px);
        height: 3px;
        background: #000;
        content: '';
    }

    .two__lines__vertical::after {
        position: absolute;
        top: 0;
        left: 200px;
        height: 100%;
        width: 3px;
        background: #000;
        content: '';
    }

    .two__lines__vertical::before {
        position: absolute;
        top: 30px;
        left: 190px;
        height: calc(100% - 60px);
        width: 3px;
        background: #000;
        content: '';
    }

    .about__services {
        line-height: 40px;
    }
}

@media screen and (min-width: 1380px) {

}

@media screen and (min-width: 1660px) {
    .ml-6 {
        margin-left: 6rem;
    }
}

@media screen and (max-width: 1400px) {
    .text-part-service{
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width: 1300px) {
    .ml-6 {
        margin-left: 2rem;
    }

    .bg__blue__inner > p {
        font-size: 16px;
        text-align: center;
    }

    .options-header {
        margin-bottom: 20px;
    }

    .on__image__top {
        /*width: 90%;*/
        font-size: 23px;
    }
    .on__image {
        font-size: 23px;
    }
    .text-part-service{
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 1230px) {
    .heading__text h1 {
        font-size: 2.7rem;
    }

    .center__text > h2 {
        font-size: 2.7rem;
    }

    .font-22 {
        font-size: 17px;
    }

    .bg__blue__inner img {
        width: 100px;
    }

    .font__size__18 {
        font-size: 16px;
    }

    .icon_column__name {
        font-size: 3.4em;
    }

}

@media screen and (max-width: 1200px) {
    #section-service .text-shadow {
        font-size: 1.5rem;
    }

    .bit__correction {
        position: relative !important;
    }

    .path__to__service {
        opacity: 1;
    }

    .on__image, .on__image__top {
        font-size: 20px;
    }

    .text-part-service {
        width: 110px;
        height: 110px;
    }
    .text-part-service {
        font-size: 13px;
    }

}

@media screen and (max-width: 1170px) {
    .heading__text h1, .center__text > h2 {
        font-size: 2.4rem;
    }

    .center__text > h3 {
        font-size: 2rem;
    }

    /*.on__image, .on__image__top {*/
        /*width: 90%;*/
    /*}*/
}

@media screen and (max-width: 1024px) {
    .heading__text h1, .center__text > h2 {
        font-size: 2rem;
    }

    .center__text > h3 {
        font-size: 1.8rem;
    }

    .options-header {
        font-size: 2rem;
    }

    .bg__blue__inner > p {
        font-size: 18px;
    }

    .icon_column__name {
        font-size: 3em;
    }

    .font__size__18 {
        font-size: 15px;
    }

    .heading__text__two h2 {
        position: relative;
        font-size: 2.5rem;
    }

    .on__image, .on__image__top {
        font-size: 18px;
    }

    .text-part-service {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 992px) {
    .ac-custom .own__radio svg {
        width: 30px;
        height: 30px;
    }

    .ac-custom .own__radio input[type="checkbox"], .ac-custom .own__radio input[type="radio"], .ac-custom .own__radio label::before {
        width: 40px;
        height: 40px;
    }

    .own__radio label {
        font-size: 16px;
    }

    .own__radio label > img {
        width: 40px !important;
    }

    .discover__service h1 {
        font-size: 2rem;
    }

    .start__service {
        margin: auto !important;
    }
    .correct__logo{
        text-align: center;
    }
    .correct__logo img{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .text-part-service {
        width: 170px;
        height: 170px;
        font-size: 20px;

    }
}

@media screen and (max-width: 767px) {
    .ac-custom .own__radio input[type="checkbox"], .ac-custom .own__radio input[type="radio"], .ac-custom .own__radio label::before {
        width: 30px;
        height: 30px;
    }

    .ac-custom .own__radio svg {
        width: 20px;
        height: 20px;
    }

    .own__radio label > img {
        width: 30px !important;
    }

    .ac-custom .own__radio input[type="checkbox"], .ac-custom .own__radio input[type="radio"], .ac-custom .own__radio label::before, .ac-custom .own__radio svg {
        top: 55%;
    }

    .under__header {
        margin-top: 0;
    }

    .fixed__header {
        position: fixed;
        top: 0;
        left: 15px;
        z-index: 99999;
        background: #fff;
        width: 100%;
        padding-top: 1px;
    }

    .heading__text h1 {
        font-size: 1.5rem;
    }

    .center__text > h2 {
        font-size: 2rem;
    }

    .navbar__items {
        text-align: center;
    }

    .logo img {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    .center__text {
        padding: 20px 15px;
    }

    .bg__blue__inner p {
        font-size: 12px;
    }

    .navbar__items__left > a {
        font-size: 12px;
    }

    .bg__blue__inner h2, .bg__blue__inner h4 {
        font-size: 15px;
    }

    .mob__none {
        display: none;
    }

    .font-22 {
        font-size: 14px;
    }

    .bg__blue__inner {
        width: 100%;
    }

    .mob__font {
        font-size: 20px;
        font-weight: 800;
    }

    .navbar__items__left > a {
        font-weight: 800;
        font-size: 12px;
        padding: 9px 5px;
        border-radius: 13px;
    }

    .mx__-30 {
        margin-right: -30px;
        margin-left: -30px;
    }

    .text__part {
        padding: 3px 40px;
        background: none;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .text__part {
        padding: 0;
    }

    .mob__font__family {
        font-family: 'Pacifico', cursive;
    }

    .mob__question {
        width: 100% !important;
        min-height: 100px !important;
    }

    .mob__own__btn {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;

    }

    .icon_column__name {
        font-size: 2em;
        width: 100%;
    }



    .on__image, .on__image__top {
        /*width: 100%;*/
        /*padding: 0 20px !important;*/
        font-size: 19px;
    }

    .on__image__top {
        font-size: 12px;
    }

}

@media screen and (max-width: 576px) {
    .input {
        width: 90%;
    }

    .own__radio label {
        font-size: 17px;
        font-weight: 700;
    }

    .ac-custom ul {
        max-width: 80%;
    }

    .own__radio label > img {
        width: 50px !important;
    }

    .logo {
        padding: 0;
    }

    .heading__text h1 {
        font-size: 1.1rem;
    }

    .mob__aline {
        align-items: center;
        align-self: center !important;
    }

    #section-options {
        margin-top: 20px;
    }

    .bg__blue {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;

    }

    .mob__mt__2 {
        margin-top: 20px;
    }

    .own__btn {
        border: 3px solid #f93f3f;
        font-weight: 700;
        font-size: 20px;
    }

    .registration {
        font-size: 16px !important;
    }

    .heading__text__services h1 {
        font-size: 20px !important;
    }

    @-webkit-keyframes anim-2 {
        51% {
            opacity: 0;
            -webkit-transform: translate3d(0, -2.8em, 0);
            transform: translate3d(0, -2.8em, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, -2.8em, 0);
            transform: translate3d(0, -2.8em, 0);
        }
    }

    @keyframes anim-2 {
        51% {
            opacity: 0;
            -webkit-transform: translate3d(0, -2.8em, 0);
            transform: translate3d(0, -2.8em, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, -2.8em, 0);
            transform: translate3d(0, -2.8em, 0);
        }
    }
    #section-service .text-shadow {
        font-size: 1.1rem;
    }

    .font__size__24 {
        font-size: 20px;
    }

    .about__services {
        max-width: 100%;
        border: 4px solid #9ef6f6;
        background: #efe5e5;
        color: #000;
    }

    .text-part {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 150px;
        height: 150px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        top: 0;
        left: 50%;
        margin: 0;
        background-color: rgba(239, 229, 229, .5);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .text-part h4, .text-part h3 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .img-part img {
        width: 140px;
        height: 140px;
        margin-bottom: 15px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .path__to__service {
        align-items: center;
        justify-content: center;
    }

    .discover__service h1 {
        font-size: 1.5rem;
    }
    .start__section h2{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
    .start__section a{
        font-size: 15px;
    }
    .for-mob-font{
        font-size: 13px;
        font-weight: 700;
    }
}

@media screen and (max-width: 414px) {
    .heading__text h1 {
        font-size: 13px;
    }
    .for-mob-font{
        font-size: 12px;
        padding-left:0;
        list-style-type:none;
    }
    .navbar__items > a {
        font-size: 13px;
        font-weight: 600;
    }

    .center__text > h2 {
        font-size: 1.3rem;
    }

    .header__soc__icons > a {
        font-size: 30px;
    }

    .font__size__18 {
        font-size: 12px;
    }

    .text__part > p {
        font-size: 12px;
    }

    .bg__blue__inner h2, .bg__blue__inner h4 {
        font-weight: 800;
    }

    .on__image {
        font-size: 17px;
    }

    .on__image__top {
        font-size: 11px;
    }


}

@media screen and (max-width: 375px) {
    .heading__text h1 {
        font-size: 12px;
    }
    .for-mob-font{
        font-size: 11px;
    }
    .navbar__items > a {
        padding: 0 5px;
    }

    .center__text > h2 {
        font-size: 1.2rem;
    }

    .navbar__items__left > a {
        font-weight: 800;
        font-size: 10px;
        padding: 9px 5px;
        border-radius: 13px;
    }

    .min__mob {
        font-size: 1.5rem;
    }

    .registration {
        font-size: 15px !important;
    }

    .text-part-service {
        width: 140px;
        height: 140px;
        font-size: 17px;

    }

    .text-part-service-block a {
        font-size: 12px;
    }

    .on__image {
        font-size: 15px;
    }

    .chin__correction__name {
        font-size: 30px;
    }

}