@font-face {
    font-family: 'Pacifico', cursive;
    src: url(../fonts/zapfino.ttf)
}
.border-radius-0{
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}
.transform-none{
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
}
.ml-6{
    margin-left: 4rem;
}
.opacity-5{
    opacity: .6;
}
.vh{
    position: relative;
}
/*HEADER*/
.header__soc__icons > a {
    color: #000;
    font-size: 40px;
}

.header__search__bar input {
    min-width: 40%;
    border-bottom: 1px solid #000 !important;
    font-size: 20px;

}

.header__search__bar button {
    font-size: 20px;
}

.header__search__bar input:focus {
    outline: 0;
}

.heading__text {
    position: relative;
}

.under__header {
    margin-top: -10px;
}

.heading__text::after {
    content: '';
    position: absolute;
    border-radius: 15px / 70px;
    width: 100%;
    height: 90%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #E6126C;
    border: 1px solid #483737;
    opacity: .68;

    z-index: 1;
}

.heading__text h1 {
    position: relative;
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    /*font-weight: 600;*/
    z-index: 2;

}

.logo img {
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
    transform: translateY(-25%);
}

/*NAVBAR*/
.navbar__menu{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.navbar__items {
    list-style-type: none;
    text-align: right;
}

.navbar__items__left {
    list-style-type: none;
}

.navbar__items__left > a {
    display: inline-block;
    background: #d9c0c0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #000;
    margin-top: 10px;
    padding: 9px 19px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-box-shadow: 1px 1px 5px;
    -moz-box-shadow: 1px 1px 5px;
    box-shadow: 1px 1px 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.navbar__items__left > a:hover {
    -webkit-box-shadow: 3px 3px 10px;
    -moz-box-shadow: 3px 3px 10px;
    box-shadow: 3px 3px 10px;
}

.navbar__menu > ul {
    padding: 0;
    margin: 0;
}

.navbar__items > a {
    display: inline-block;
    background: #d9c0c0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    color: #000;
    margin-top: 10px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-box-shadow: 1px 1px 5px;
    -moz-box-shadow: 1px 1px 5px;
    box-shadow: 1px 1px 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.navbar__items > a:hover {
    -webkit-box-shadow: 3px 3px 10px;
    -moz-box-shadow: 3px 3px 10px;
    box-shadow: 3px 3px 10px;
}

.navbar__items > a:hover {
    text-decoration: none;
}

/*CENTER TEXT*/
.center__text {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center__text > h2 {
    color: #e22511;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    /*font-weight: 800;*/
}

.center__text > h3 {
    color: #ec7466;
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    text-align: right;
    /*font-weight: 800;*/
}

/*NAVBAR FIXED*/
.fixed-nav{
    top: 0;
    left: 0;
    background: #fff;
    padding-bottom: 10px;
    z-index: 999;
    width: 100%;
}
/*LOGIN*/
.input__rows > input {
    width: 100%;
    color: #000;
    padding: 5px;
    border: 2px solid #000;
}

.login__button {
    display: inline-block;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid #000;
    background: transparent;
    padding: 3px 10px;
    font-weight: bold;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.login__button:hover {
    text-decoration: none;
    border-color: #d9c0c0;
    background: #d9c0c0;
    color: #000;
    -webkit-box-shadow: 3px 3px 10px #000;
    -moz-box-shadow: 3px 3px 10px #000;
    box-shadow: 3px 3px 10px #000;
}

.or {
    font-weight: 600;
}

/*OPTIONS */
.options-header {
    color: #292828;
    font-weight: 700;
    font-size: 3.5rem;
}

.right__side__img img {
    border-radius: 45%;
}

.bg__blue {
    background: rgba(19, 234, 234, .38);
    border-radius: 140px;
}

.bg__blue__inner {
    width: 85%;
    margin: auto;
    font-weight: 600;

}

.bg__blue__inner > p {
    font-size: 20px;
    text-align: center;
}

.bit__correction {
    z-index: 3;
}

/*SECOND SECTION*/
.second__section{
    position: relative;
}
.own__btn {
    border: 2px solid #f93f3f;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: transparent !important;
    color: #f93f3f !important;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

.own__btn:focus, .own__btn:hover {
    outline: 0;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 10px #000;
    -moz-box-shadow: 2px 2px 10px #000;
    box-shadow: 2px 2px 10px #000;
}

.rounded-60 {
    border-radius: 60px;
}
.bit__correction__top{
    bottom: 0;
}
/*THIRD SECTION*/


.icon_column__name {
    font-family: 'Pacifico', cursive;
    /*font-weight: 800;*/
    font-size: 4em;
}

.text__part {
    padding: 3px 40px;
    background: rgba(19, 234, 234, .68);
    border: 1px solid #d9c0c0;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
}

.font__weight_600 {
    font-weight: 600;
}

.font__weight_700 {
    font-weight: 700;
}

.font__size__18 {
    font-size: 18px;
}
.color__666{
    color: #666666;
}
.font__size__22 {
    font-size: 22px;
}

.font__size__24 {
    font-size: 24px;
}

.text-underline {
    text-decoration: underline;
}

.flex-auto {
    flex: 0 0 auto !important;
}

.bg__white {
    background: #fff !important;
}

.z__index {
    position: relative;
    z-index: 2;
}

.heading__text__two h2 {
    position: relative;
    font-size: 3.2rem;
    font-family: 'Pacifico', cursive;
    z-index: 2;
    /*font-weight: 800;*/
    line-height: 0;
}
.heading__text__two{
    padding: 5px 0;
}
.heading__text__two::after {
    height: 100%;
}

.welcome {
    background: #fff;
}

/*REGISTRATION*/

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.login-modal-form .input {
    width: 90%;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.2em 0;
    font-size: 15px;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}


/* Kuro */
.input--kuro {
    margin-bottom: 3em;
}

.input__field--kuro {
    width: 100%;
    background: transparent;
    color: #757575;
    opacity: 0;
    text-align: center;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.input__label--kuro {
    position: absolute;
    left: 0;
    width: 100%;
    color: #757575;
    pointer-events: none;
}

.input__label--kuro::before,
.input__label--kuro::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border: 4px solid #757575;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label--kuro::before {
    border-right: none;
}

.input__label--kuro::after {
    left: 50%;
    border-left: none;
}

.input__field--kuro:focus,
.input--filled .input__field--kuro {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.input__field--kuro:focus + .input__label--kuro::before,
.input--filled .input__label--kuro::before {
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
}

.input__field--kuro:focus + .input__label--kuro::after,
.input--filled .input__label--kuro::after {
    -webkit-transform: translate3d(10%, 0, 0);
    transform: translate3d(10%, 0, 0);
}

.input__field--kuro:focus + .input__label--kuro .input__label-content--kuro,
.input--filled .input__label-content--kuro {
    -webkit-animation: anim-2 0.3s forwards;
    animation: anim-2 0.3s forwards;
    text-align: center;
}

@-webkit-keyframes anim-2 {
    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3.7em, 0) ;
        transform: translate3d(0, -3.7em, 0) ;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -3.7em, 0);
        transform: translate3d(0, -3.7em, 0);
    }
}

@keyframes anim-2 {
    51% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3.7em, 0) ;
        transform: translate3d(0, -3.7em, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -3.7em, 0);
        transform: translate3d(0, -3.7em, 0);
    }
}
.reg-btn{
    background: rgba(19, 234, 234, .68);
    font-size: 20px;
    font-weight: 600;
}
.reg-btn:hover{
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}
/*SERVICES*/
.question__head{
    font-weight: 700;
}
.heading__text__services::after{
    background: transparent;
    border: none;
}
.heading__text__services h1{
    font-family: inherit !important;
    font-size: 39px;
}
#section-service .text-shadow{
    font-weight: 800;
    text-shadow: 2px 4px 13px rgba(0,0,0,.4);
}
.text__underline{
    border-bottom: 3px solid #000;
}
.about__services{
    margin: auto;
    max-width: 60%;
}
.after__before__lines::after{
    content: '';

}
.text-part h4,.text-part h3{
    color: #000;
}
.path__to__service{
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0.7;
    text-decoration: none;
    color: #000;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.path__to__service:hover{
    opacity: 1;
    text-decoration: none;
}
.img-part{
    text-align: center;
}
.text-part{
    padding: 10px;
    margin-top: 10px;
    border: 4px solid #9ef6f6;
    background: #efe5e5;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}
.start__service__head{
    text-shadow: 0 4px 9px rgba(0,0,0,.4);
}
.start__pic img{
    opacity: .6;
}
.start__service{
    display: flex;
    align-items:center;
    justify-content: center;
    background: #eee3e3;
    border: 4px solid #fc9494;
    color: #ec6363;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.8;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.start__service:hover{
    text-decoration: none;
    color: #ec6363;
    opacity: 1;
    -webkit-box-shadow:2px 2px 10px rgba(0,0,0,.5);
    -moz-box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}
.start__pic{
    position: relative;
}
.under__header{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.fixed__header{
    position: fixed;
    top: 0;
    left: 0;
    z-index:99999;
    background: #fff;
    width: 100%;
    margin-top: 0;
    padding-top: 25px;
}
.questions{
    font-family: "Pacifico", cursive;
}
.part__underline::after{
    position: absolute;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #000;
    content: '';
}
/*CHIN CORRECTIONS*/
.text-part-service{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 140px;
    height: 140px;
    margin: auto;
    border: 4px solid #0feeed;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #d9bfc0;
    text-align: center;
    font-weight: 700;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.text-part-service:hover{
    -webkit-box-shadow: 0 0 15px #6b6868;
    -moz-box-shadow: 0 0  15px #6b6868;
    box-shadow: 0 0 15px #6b6868;
}
.text-part-service-block a{
    color: #000;
    text-align: center;
    font-weight: 700;

}
.text-part-service-block a:hover{
    color: #000;
    text-decoration: none;

}
.after__line{
    display: flex;
    position: relative;
    justify-content: center;
}
.after__line > span.line__correct{
    position: absolute;
    width: 70%;
    height: 5px;
    top: 100%;
    background: #de1412;

}
.on__image{
    position: absolute;
    bottom: 6%;
    left:50%;
    width: 90%;
    padding: 0 30px;
    color: #394398;
    font-weight:800;
    font-size: 27px;
    font-style: italic;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.on__image__top{
    color: #000;
    font-weight:800;
    font-size: 25px;
    text-align: left;
}
.chin__correction__name{
    display: inline-block;
    padding: 5px 15px;
    background: #d9bfc0;
    -webkit-box-shadow: 0 0 15px #6b6868;
    -moz-box-shadow: 0 0  15px #6b6868;
    box-shadow: 0 0 15px #6b6868;
    border: 2px solid #7b7273;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

/*IMPORTANT POINTS*/
.big__number{
    display: inline-block;
    font-size: 75px;
    color: #000;
    font-weight: 600;
}
.start__section{
    flex-wrap: wrap;
    width: 100%;
    background: #96f2f6;
    border: 1px solid #b7bcbc;
    padding:15px;
}
.start__section .own__btn{
    font-size: 22px;
}
/* TEST CHIN-CORRECTION */
.instruction__p{
    font-size: 24px;
    font-weight: bold;

}
.instruction__ol{
    font-size: 22px;
    color: #000;
    font-weight: bold;
}
.instruction__ol li{
    margin-bottom: 10px;
}
.cropControlsUpload{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center ;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.cropControlsUpload:hover{
    background: rgba(0,0,0,0.7);
}
.cropControlUpload{
    float: none !important;
    background-image: none !important;
    width: 100% !important;
    height: auto !important;
    padding: 10px 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.cropControlUpload:hover{
    background: transparent !important;
    background-image: none !important;

}
#cropContainerPreload{
    margin-bottom: 1rem;
    overflow: hidden !important;
}
.text-18{
    font-size: 22px;
}


/* PROFILE */
.collapse-header{
    padding: 0;
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    border-radius:0 !important;
    background: #d9c0c0;
}
.collapse-header button{
    display: block;
    text-align: center;
    width: 100%;
    padding: 17px ;
    color: #000;
    font-size: 19px;
    font-weight: 700;
}
.collapse-header button:hover{
    color: #000;
}
.for-mob-font{
    font-weight:700;
}
@media (min-width:576px) {
    .modal-dialog {
        max-width: 320px !important;
        margin: 1.75rem auto
    }
}
/*CROP*/
.hidden{
    display: none;
}
.line-vert{
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 17px;
    background: transparent;
    top: 40%;
    left: 40%;
    margin: 0;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.stop{
    background: #fff000 !important;
}
.result{
    position: relative;
}
/*NOSE-CORRECTION*/
.nose__bottom__text{
    text-align: center;
    color: #16279B;
}
.circle__center{
    display: flex;
    align-items:center;
    background: #d9bfc0;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    text-align: center;
    padding: 50px;
    font-weight: bold;
}